<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=siteTitle%></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <% if (messages.flash_message) { %>
        <div class="alert alert-info site-alert" role="alert"><%=messages.flash_message%></div>
    <% } %>
    <% if (messages.flash_success) { %>
    <div class="alert alert-success site-alert" role="alert"><%=messages.flash_success%></div>
    <% } %>
    <% if (messages.flash_error) { %>
    <div class="alert alert-danger site-alert" role="alert"><%=messages.flash_error%></div>
    <% }%>
    <% if (messages.flash_warning) { %>
    <div class="alert alert-warning site-alert" role="alert"><%=messages.flash_warning%></div>
    <% }%>
    <header class="row site-header">
        <div class="col-md-6">
            <p class="site-title"><a href="/"><%=siteTitle%></a></p>
            <ul class="nav nav-pills">
                <% var navLen = nav.length; %>
                <% for (var i=0; i<navLen; i++) { %>
                    <li><a href="<%=nav[i].link%>"><%=nav[i].text%></a></li>
                <% } %>
            </ul>
        </div>
        <div class="col-md-6 col2">
            <% if (!user){ %>
            <form action="/auth/sign_in" method="post" class="form-inline">
                <div class="form-group">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                </div>
                <input type="submit" value="Sign In" class="btn btn-default btn-sm">
            </form>
            <p><a href="/auth/sign_up/">Create an account</a></p>
            <% } else { %>
                <p><a href="/auth/profile"><span class="fa fa-user"></span> Account profile</a></p>
            <% } %>
        </div>
    </header>

    <main class="row">
        <div class="col-md-12">

